<nav class="navbar navbar-expand navbar-dark fixed-top">
  <div class="navbar-left">
    <a href="/">
      <img src="{{ url_for('static', filename='images/futurespeakerslogo.jpg') }}" alt="Logo" class="logo" />
    </a>
  </div>

  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" href="{{ url_for('views.events') }}">EVENTS</a>
    <a class="nav-item nav-link" href="{{ url_for('views.resources') }}">RESOURCES</a>
    <a class="nav-item nav-link" href="{{ url_for('views.aboutus') }}">ABOUT US</a>
</nav>
